body {background-color: gray;}
h1 {
  color: purple;
  font-family: arial;
  font-size: 36px;
  text-align: center;
  text-decoration: underline;
}
h2 {
  color: red;
  font-family: arial;
  font-size: 20px;
}
p {
  color: black;
  font-family: arial;
  font-size: 14px;
}
